/**
 * riceTagMolecule Styles
 * EM: .molecule-price-tag
 */

.molecule-price-tag {
  display: inline-flex;
  flex-direction: column;
  gap: var(--space-xs);

  &__main {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
  }

  &__price {
    line-height: 1;
  }

  &__trend {
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 600;
  }

  &__discount {
    align-self: flex-start;
  }

  &__label {
    //  Estilos herdados
  }
}
